.job {
    width: 300px;
    height: fit-content;
    background-color: rgba(252, 252, 252, 0.377);
    transition: .2s all;
}

.job:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.job-header img {
    width: 300px;
}

.job-details {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.job-details .profpic {
    padding: 10px;
}

.job-details .profpic img {
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.job-details .postedby {
    width: fit-content;
}

.job-details .verified {
    padding: 10px 0 15px 5px;
}

.job-details .verified img {
    height: 15px;
}


.job .postedat {
    background-color: rgb(233, 233, 233);
    text-align: right;
    padding-right: 10px;
}


.job-body {    
    /* padding: 5px; */
}

.job-body .title {
    font-size: medium;
    font-weight: 600;
    padding: 5px;
}

.job-body .postedby {
    color: gray;
    padding: 0px 5px 5px 5px;
}


.job-body .stats {
    padding: 10px;
}

.job-body .stats .applied-bar {
    width: 100%;
    height: 20px;
}

.job-body .stats .text {
    display: flex;
    flex-direction: row;    
    font-weight: 600;
}

.job-body .stats .text .applied {
    padding-right: 5px;
}

.job-body .stats .text .capacity {
    color: gray;
}


.job-body .price {
    font-size: 20px;
    padding: 5px;
    color: rgb(80, 80, 80);
}