.job {
    width: 50%;
    height: fit-content;
    background-color: rgba(252, 252, 252, 0.377);
    transition: .2s all;
    -webkit-box-shadow: -2px 2px 15px -4px #5c5c5c; 
    box-shadow: -2px 2px 15px -4px #5c5c5c;   
}

.job:hover {
    /* cursor: pointer;
    transform: scale(1.01); */
}

.job-header {
    background-color: aqua;
    height: fit-content;
}

.job-header img {
    width: 100%;
}

.job-details {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.job-details .profpic {
    padding: 10px;
}

.job-details .profpic img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.job-details .postedby {
    width: fit-content;
}

.job-details .verified {
    padding: 10px 0 15px 5px;
}

.job-details .verified img {
    height: 15px;
}


.job .postedat {
    background-color: rgb(233, 233, 233);
    text-align: right;
    padding-right: 10px;
}


.job-body {    
    /* padding: 5px; */
}

.job-body .title {
    font-size: medium;
    font-weight: 600;
    padding: 5px;
}

.job-body .postedby {
    color: gray;
    padding: 0px 5px 5px 5px;
}


.job-body .progress {
    padding: 10px;
}

.job-body .progress .applied-bar {
    width: 100%;
    height: 20px;
}

.job-body .progress .text {
    display: flex;
    flex-direction: row;    
    font-weight: 600;
}

.job-body .progress .text .applied {
    padding-right: 5px;
}

.job-body .progress .text .capacity {
    color: gray;
}


.job-body .price {
    font-size: 20px;
    padding: 5px;
    color: rgb(80, 80, 80);
}

/* stats */
.job-body .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-body .stats {
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
}

.job-body .stats img {
    height: 20px;
}

.stats .ups-count {
    color: green;
}

.stats .downs-count {
    color: red;
}

.stats .rate {
    color: rgb(209, 178, 0);
}

.job-body .stats .rate {
    padding-left: 10px;
}


.job-body .stats .enrollment{
    padding-left: 10px;
}

/* SHOW MORE POSTS */
.job-control-buttons {
    display: flex;
    flex-direction: row;
    padding-left: 20px; 
    width: fit-content;
    justify-content: flex-end;
}

.job-header-editbtn {
    background-color: #1266F1;
    color: #f1efef;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 50px;
    margin: 5px;
}

.job-header-deletebtn {
    background-color: #F93154;
    color: #f1efef;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 50px;
    margin: 5px;
}


@media only screen and (max-width: 1124px) {
    .job {
        width: 100%;
    }  
}