:root {
    --good-bg-color: #00B74A;
    --good-bg-color-hover: #028135;
    --good-color: #FBFBFB;

    --normal-bg-color: #FFA900;
    --normal-bg-color-hover: #ac7303;
    --normal-color: #FBFBFB;

    --bad-bg-color: #F93154;
    --bad-bg-color-hover: #bd223c;
    --bad-color: #FBFBFB;

    --idle-bg-color: #d1d1d1;
    --idle-bg-color-hover: #d3d2d2;
    --idle-color: #262626;

    --box-shadow-color: 3px 2px 6px rgba(0, 0, 0, 0.3);
}

.card-link {
    text-decoration: none;
    width: 45rem;
}

.stream-selection-card {
    /* color: var(--idle-color); */
    /* background-color: var(--idle-bg-color); */
    color: #262626;
    background-color: #d1d1d1;
    width: 45rem;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 0.6rem;
    border-radius: 2px;
    animation: anim-card 1s ease forwards;
}

@keyframes anim-card {
    0%{
        transform: translateX(3%)
    }
}

.stream-selection-card:hover{
    /* background-color: var(--idle-bg-color-hover); */
    background-color: #d3d2d2;
}



.stream-selection-card-title {
    text-align: left;
    padding: 1rem;
}

.stream-selection-card-title {
    font-size: 1rem;
}



/* good */
.good-stream-recommend-card {
    color: var(--good-color);
    background-color: var(--good-bg-color);
    width: 45rem;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 0.6rem;
    animation: anim-rec 1s ease forwards;
}

.good-stream-recommend-card:hover{
    background-color: var(--good-bg-color-hover);
}

/* normal */
.normal-stream-recommend-card {
    color: var(--normal-color);
    background-color: var(--normal-bg-color);
    width: 45rem;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 0.6rem;
    animation: anim-rec 1s ease forwards;
}

.normal-stream-recommend-card:hover{
    background-color: var(--normal-bg-color-hover);
}

/* bad */
.bad-stream-recommend-card {
    color: var(--bad-color);
    background-color: var(--bad-bg-color);
    width: 45rem;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 0.6rem;
    animation: anim-rec 1s ease forwards;
}

.bad-stream-recommend-card:hover{
    background-color: var(--bad-bg-color-hover);
}

/* common styles */
.stream-recommend-card {
    color: var(--idle-color);
    background-color: var(--idle-bg-color);
    width: 45rem;
    box-shadow: var(--box-shadow-color);
    margin-bottom: 0.6rem;
    animation: anim-rec 1s ease forwards;
}

.stream-recommend-card:hover{
    background-color: var(--idle-bg-color-hover);
}

@keyframes anim-rec {
    0%{
        transform: translateX(3%)
    }
}

.stream-recommend-card-number {
    text-align: center;
    padding: 1rem;
}



.stream-recommend-card-table {
    width: 45rem;
    height: 3.5rem;
    color: #FBFBFB;
}

.stream-recommend-card-table th {
    width: 5rem;
    text-align: center;
}

.stream-recommend-card-table-title {
    width: 32rem;
    padding-left: 1rem;
}

.stream-recommend-card-table-points {
    text-align: center;
}

/* mentor banner cards */