.poster {
    width: 100%;
    height: fit-content;
    background-color: rgba(252, 252, 252, 0.377);
    transition: .2s all;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    -webkit-box-shadow: -2px 2px 15px -4px #5c5c5c; 
    box-shadow: -2px 2px 15px -4px #5c5c5c;   
}

.poster:hover {
    cursor: pointer;
    transform: scale(1.01);
}


.poster-header img {
    height: 100%;
}

.poster-body {    
    padding: 10px;
    background-color: rgb(235, 235, 235);
    /* width: 600px; */
}

.poster-body .title {
    font-size: medium;
    font-weight: 600;
    padding: 5px;
}

.poster-body .postedby {
    color: gray;
    padding: 0px 5px 5px 5px;
}

.poster-body .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.poster-body .stats {
    height: 30px;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
}

.poster-body .stats img {
    height: 15px;
}

.stats .ups-count {
    color: green;
}

.stats .downs-count {
    color: red;
}

.stats .rate {
    color: rgb(209, 178, 0);
}

.poster-body .stats .rate {
    padding-left: 10px;
}


.poster-body .stats .enrollment{
    padding-left: 10px;
}

.poster-body .price {
    font-size: 20px;
    padding: 5px;
    color: rgb(80, 80, 80);
}