/* If CSS didn't apply try Ctrl+F5 clear cache and then reload */
/* seperate component styles */


/* new styles */

.report-confirm-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 16px;
    background-color: rgb(245, 245, 245);
    /* width: 26%; */
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3;
}

.report-confirm-form .content {
    font-size: 17px;
    font-weight: 600;
    background-color: inherit;
    margin: 10px;
}

.report-confirm-form .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.report-confirm-form .footer .left {
    margin-left: 120px;
}