/* If CSS didn't apply try Ctrl+F5 clear cache and then reload */
/* seperate component styles */
@import url('components/topnav.css');
@import url('components/form.css');
@import url('components/sidebar.css');
@import url('components/dashboard.css');
@import url('components/bottomnav.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/mycards.css');

@import url('components/imageUpload/imageUpload-styles.css');
@import url('components/captcha/captcha-styles.css');
@import url('components/notificationAlert/notificationAlert-styles.css');

@import url('utilities/responsive_grid_layout.css');

@import url('components/posts/posts-styles.css');

@import url('lists/gov-course-list.css');

@import url('components/commentsection/comment-styles.css');

@import url('cards/professional-guider-card.css');
@import url('cards/teacher-card.css');
@import url('cards/jobs-card.css');
@import url('cards/stream-related-cards.css');

@import url('cards/professional-guider-banner.css');
@import url('cards/teacher-poster.css');



/* fonts */
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/poppins/Poppins-Regular.ttf);
}

:root {
    --main-background-color: #f8f9fa;
}

/* global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: Arial, Arial, Helvetica, sans-serif; */
    font-family: Poppins-Regular;
    font-size: small;
    background-color: var(--main-background-color);
    text-align: left;
}