/* If CSS didn't apply try Ctrl+F5 clear cache and then reload */
/* pages */
@import url('pages/index-styles.css');

/* seperate component styles */
@import url('components/topnav.css');
@import url('components/form.css');
@import url('components/sidebar.css');
@import url('components/noticesbar.css');
@import url('components/dashboard.css');
@import url('components/bottomnav.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/mycards.css');

/* comprehnsive component styles */
@import url('components/imageUpload/imageUpload-styles.css');
@import url('components/captcha/captcha-styles.css');
@import url('components/notificationAlert/notificationAlert-styles.css');
@import url('components/commentSystem/comment-styles.css');
@import url('components/posts/posts-styles.css');
@import url('components/ratingSystem/ratingsystem.css');

/* Utilities - [EXPERIMENTAL] */
@import url('utilities/responsive_grid_layout.css');

/* Lists */
@import url('lists/gov-course-list.css');

/* Cards */
@import url('cards/select-stream-card.css');
@import url('cards/recommend-stream-cards.css');
@import url('cards/professional-guider-card.css');
@import url('cards/professional-guider-banner-card.css');
@import url('cards/teacher-card.css');
@import url('cards/teacher-poster-card.css');
/* @import url('cards/jobs-card.css'); */

/* profiles */
@import url('profiles/student-profile.css');
@import url('profiles/professionalGuider-profile.css');
@import url('profiles/organization-profile.css');

/* profile statistics and connecitons */
@import url('profileStatsAndConnections/profile-statistics-and-connections-styles.css');

/* review system */
@import url('reviews/review.css');
@import url('reviews/reviewspopup.css');

@import url('components/studentTopnav.css');


/* fonts */
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/poppins/Poppins-Regular.ttf);
}

:root {
    --main-background-color: #f8f9fa;
}

/* global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins-Regular;
    font-size: small;
    background-color: var(--main-background-color);
    text-align: left;
}

hr {
    /* border: solid 1px rgb(187, 187, 187); */
    margin: 5px;
    /* color: rgb(145, 145, 145); */
    background-color: rgb(187, 187, 187);
}