.bottomnav {
    position: relative;
    overflow: hidden;
    padding:1rem;
    background-color:#333;
    color:#aaa;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
}

.bottomnav-content{
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottomnav-copyright {
    background-color: red;
}

.list-inline {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:15px;
    line-height:1.6;
    margin-bottom:0;
}

.list-inline-item {
    display: inline;
    padding:0 10px;
}

.list-inline a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.list-inline a:hover {
  opacity:1;
}

.bottomnav .social {
  text-align:center;
  padding-bottom: 5px;
}

.bottomnav .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.bottomnav .social > a:hover {
  opacity:0.9;
}

.bottomnav .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}