:root {
    --header-background-color: #efefef;
    --menu-toggle-color: #a5a4a4;
    --top-panel-background-color: #f1f5f9;
    --top-panel-h1-color: rgb(31, 29, 29);
    --middle-left-panel-background-color: #f1f5f9;
    --notices-background-color: #f1f5f9;
    --notices-h2-color:  #555;
    --notice-card-background-color: #d0d7dd;
    --notice-card-content-image-border-color: #b0b0b3;
    --notice-card-content-button-background-color: #5850ec;
    --notice-card-content-button-color: #fff;
    --notice-card-content-button-border-color: #5850ec;
    --updates-background-color: #f1f5f9;
    --updates-h2-color: #555;
    --bottom-panel-background-color: #f1f5f9;
    --bottom-panel-p-color: #555;
    --box-shadow-color: rgba(0, 0, 0, 0.3);    
    --hr-color: #9e9e9e;

    --edit-button-background-color: #5850ec;
    --edit-button-hover-background-color: #393497;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    background: var(--header-background-color);
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    /* transition: left 0.5s ease; */
    height: 3rem;
}

.menu-toggle {
    /* background-color: #0275d8; */
}

.menu-toggle:hover {
    background-color: #2995f3;
}

.menu-toggle label {
    height: 3rem;
    width: 60px;
    /* display: grid; */
    /* place-items: center; */
    /* font-size: 1.5rem; */
    /* background-color: #0275d8; */
}

.menu-toggle label:hover {
    background: var(--menu-toggle-color);
    cursor: pointer;
}

.main-content {
    margin-left: 280px;
    transition: margin-left 0.5s ease;
}

/* panels */
main {
    margin-top: 2.5rem;
    padding: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

    /* top panel */
.top-panel {
    background: var(--top-panel-background-color);
    padding: 1rem;
    box-shadow: 3px 2px 6px var(--box-shadow-color);
    border-radius: 0px;
    grid-column: 1/3;
}

.top-panel h1 {
    display: block;
    text-transform: uppercase;
    color: var(--top-panel-h1-color);
    font-size: 1.5rem;
}

    /* middle panel */
.middle-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/3;
    grid-gap: 1rem;
}

.middle-panel-single {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/3;
}

            /* middle panel left */
.middle-left-panel {
    background: var(--middle-left-panel-background-color);
    padding: 1rem;
    box-shadow: 3px 2px 6px var(--box-shadow-color);
    border-radius: 0px;
}

            /* middle panel right */
.middle-right-panel {
    display: grid;
    grid-gap: 1rem;
}
            /* notices */
.notices {
    background: var(--notices-background-color);
    padding: 1rem;
    box-shadow: 3px 2px 6px var(--box-shadow-color);
    border-radius: 0px;
}

.notices h2 {
    display: block;
    text-transform: uppercase;
    color:var(--notices-h2-color);
    font-size: 0.9rem;
}

.notice-card {
    background: var(--notice-card-background-color);
    padding: 0.8rem;
    border-radius: 3px;
    margin-bottom: 0.3rem;
    box-shadow: 1px 1px 1px var(--box-shadow-color);
}

.notice-card-content {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.notice-card-content-image {
    border: 1px solid var(--notice-card-content-image-border-color);
    width: 4rem;
    height: 4rem;
}

.notice-card-content-button {
    padding: 0.6rem 1rem;
    width: 100%;
    height: 45px;
    background: var(--notice-card-content-button-background-color);
    color: var(--notice-card-content-button-color);
    border: 1px solid var(--notice-card-content-button-border-color);
    border-radius: 3px;
}

            /* updates */
.updates {
    background: var(--updates-background-color);
    padding: 1rem;
    box-shadow: 3px 2px 6px var(--box-shadow-color);
    border-radius: 0px;
}

.updates h2 {
    display: block;
    text-transform: uppercase;
    color: var(--updates-h2-color);
    font-size: 0.9rem;
}

    /* bottom panel */
.bottom-panel {
    background: var(--bottom-panel-background-color);
    padding: 1rem;
    box-shadow: 3px 2px 6px var(--box-shadow-color);
    border-radius: 0px;
    grid-column: 1/3;
}

.bottom-panel p {
    text-align: center;
    display: block;
    color: var(--bottom-panel-p-color);
    font-size: 0.8rem;
}

/* buttons */
.edit-button {
    background-color: var(--edit-button-background-color);
    color: var(--form-submit-button-color);
    padding: 10px;
    border: none; 
    cursor: pointer;
    /* width: 100%; */
    /* opacity: 0.9; */
}

.edit-button:hover {
    background-color: var(--edit-button-hover-background-color);
}

/* table */
.settings-table {
    width: 70%;
}

.A {
    width: 40%;
}

.B {
    width: 50%;
}

.C {
    width: 10%;
    font-size: small;
}

.table-section {
    background-color: #f1f5f9;
    border-radius: 0.3rem;
    padding: 2rem;
    border: 2px solid #c8cccf;
    box-shadow: 1px 2px 3px var(--box-shadow-color);
}

.settings-header {
    overflow: hidden;
    width: 50rem;
}

.settings-header-item {
    float: left;
    padding-right: 1rem;
}

.settings-header-item a input{
    height: 30px;
    width: 4rem;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    color: white;
}

.settings-header-item a input.cancel-button {
    background-color: #d9534f;
}

.settings-header-item a input.cancel-button:hover {
    background-color: #fc817d;
}

.settings-header-item a input.edit-button {
    background-color: #0275d8;
}

.settings-header-item a input.edit-button:hover {
    background-color: #2995f3;
}

.settings-header-item a input.save-button {
    background-color: #5cb85c;
}

.settings-header-item a input.save-button:hover {
    background-color: #83f083;
}

/* select option styles */
.custom-select {
    /* width: 100%; */
    height: 40px;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;    
}

.custom-select:hover {    
    cursor: pointer;
}

.custom-select:focus {
    border: 2px solid #db7e31;
}
