:root{
    --form-container-background-color: white;
    --input-field-background-color: #f1f1f1;
    --input-field-focus-background-color: #ddd;
    --form-hr-border-color: #f1f1f1;
    --form-submit-button-background-color: #db7e31;
    --form-submit-button-color: white;
    --form-skip-button-background-color: gray;
    --form-skip-button-color: white;
    --form-next-button-background-color: #db7e31;
    --form-next-button-color: white;
    --form-actor-button-background-color: #db7e31;
    --form-actor-button-color: white;
    --form-link-color: dodgerblue;
    --content-background-color: #f1f1f1;
    --form-invalid-color: #dc3545;
    --form-flash-background-color: #28a745;
    --form-flash-color: white;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* Add padding to containers */
.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 16px;
    background-color: var(--form-container-background-color);
    width: 26%;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color), 0 6px 20px 0 var(--box-shadow-color);
    border: 1px solid #d3d3d3;
}

/* Full width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px;
    display: inline-block;
    border: none;
    background: var(--input-field-background-color);
    border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: var(--input-field-focus-background-color);
    outline: none;
}

/* form hr */
.form-hr {
    border: 1px solid var(--form-hr-border-color);
    margin-bottom: 5px;
}

.form-hr-intermediate {
    border: 0.5px solid rgb(230, 227, 227);
    border-radius: 0.5rem;
}

/* bold texts */
.form-bold {
    margin: 16px 0 5px 0;
    font-weight: bold;
    display: inline-block;
    border: none;
}

/* Set a style for the submit button */
.form-submit {
    background-color: var(--form-submit-button-background-color);
    color: var(--form-submit-button-color);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 3px;
}

.form-submit:hover {
    opacity: 1;
}

/* Set a style for the skip button */
.form-skip-button {
    background-color: var(--form-skip-button-background-color);
    color: var(--form-skip-button-color);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
}

.form-skip-button:hover {
    opacity: 1;
}

/* Set a style for the next button */
.form-next-button {
    background-color: var(--form-next-button-background-color);
    color: var(--form-next-button-color);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
}

.form-next-button:hover {
    opacity: 1;
}

/* Set a style for the actor button */
.form-actor-button {
    background-color: var(--form-actor-button-background-color);
    color: var(--form-actor-button-color);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
    border-radius: 3px;
}

.form-actor-button:hover {
    opacity: 1;
}

/* Add a blue text color to links */
.form-link {
    color: var(--form-link-color);
}

/* Set gray bg color and center the content in sign in */
.content {
    background-color: var(--content-background-color);
    text-align: center;
}


/* Form table */
.form-table {
    width: 100%;
}

tr {
    height: 25px;
}

th {
    font-size: small;
    text-align: left;
}

/* Invalid message */
.form-invalid {
    color: var(--form-invalid-color);
    margin: 0 0 0 0;
}

/* Set a style for the submit button */
.form-flash {
    background-color: var(--form-flash-background-color);
    color: var(--form-flash-color);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


/* form select styles */
.form-select {
    width: 100%;
    height: 40px;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;    
}

.form-select:hover {    
    cursor: pointer;
}

.form-select:focus {
    border: 2px solid #db7e31;
}

/* slider */
.form-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1rem;
  }
  
  .form-slider:hover {
    opacity: 1;
  }
  
  .form-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #db7e31;
    cursor: pointer;
  }
  
  .form-slider::-moz-range-thumb {
    width: 10px;
    height: 25px;
    background: #db7e31;
    cursor: pointer;
  }

  input[type=radio] {
     cursor: pointer;
     margin-right: 0.2rem;
  }