/* Add padding to containers */
.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 16px;
    background-color: white;
    width: 26%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Full width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* form hr */
.form-hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}

/* bold texts */
.form-bold {
    margin: 16px 0 5px 0;
    display: inline-block;
    border: none;
}

/* Set a style for the submit button */
.form-submit {
    background-color: #db7e31;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.form-submit:hover {
    opacity: 1;
}

/* Add a blue text color to links */
.form-link {
    color: dodgerblue;
}

/* Set gray bg color and center the content in sign in */
.content {
    background-color: #f1f1f1;
    text-align: center;
}


/* Form table */
.form-table {
    width: 100%;
}

/* Invalid message */
.form-invalid {
    color: #ff0000;
    margin: 0 0 0 0;
}

/* Set a style for the submit button */
.form-flash {
    background-color: #2b8f00;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}