.notices-bar {
    background-color: rgb(241, 241, 241);
}


.notices-bar .following .title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(61, 61, 61);
    padding: 10px 10px 0 10px;
}

.notices-bar .following .sub-title{
    font-size: 15px;
    color: rgb(70, 70, 70);
    padding: 0 10px 0 10px;
}

/* user-block */
.user-block {
    height: 60px;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    vertical-align: middle;
    background-color: rgb(233, 233, 233);
    transition: .2s all;
    justify-content: center;
}

.user-block:hover{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.user-block .pic {    
    padding: 10px;
}

.user-block .pic img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-block .name {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 60px;
    vertical-align: middle;
}

.user-block .verified {
    padding: 20px 20px 20px 10px;
}

.user-block .verified img{
    height: 20px;
    width: 20px;
}