:root {
    --color-main: #1a202e;
    /* --color-main: #333; */
    --color-main-background: #efefef;
    --profile-upgrade-progressbar-color: seagreen;    
    --profile-upgrade-button-color: #5850ec;
    --profile-upgrade-button-color-hover: #6860ff;
    --profile-upgrade-button-background-color: #efefef;
    --progressbar-color: #00B74A;
    --progressbar-border-color: #333;
    --user-level-img-border: #efefef;
    --sidebar-item-header-color: #8da2fb;
    --sidebar-item-color: #21293a;
    --sidebar-item-color-hover: #3e4b68;
    --sidebar-item-border-color: #1a202e;
    --sidebar-item-background-color: #c4c3c3;
    --hr-color: #9e9e9e;
}

* {
    box-sizing: border-box;
    /* text-decoration: none; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 0rem;
    background: var(--color-main);
    color: var(--color-main-background);
    transition: left 0.5s ease;
}

.sidebar-brand {
    height: 60px;
}

.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-flex img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.brand-icons img {
    height: 1.6rem;
    width: 1.6rem;
}

.sidebar-menu {
    margin-top: 2rem;
}

.menu-head {
    text-transform: uppercase;
    color: var(--sidebar-item-header-color);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

#sidebar-toggle {
    opacity: 0;
}

#sidebar-toggle:checked ~ .sidebar {
    left: -100%;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 0;
    width: 100%;
    right: 0;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 0;
}


/* user upgrade details */
.sidebar-user-details-container {
    display: grid;
    grid-template-rows: 1fr auto;
}

.sidebar-user-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.user-level-image img{
    border: 2px solid var(--user-level-img-border);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}

.user-level-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.profile-completion-text {
    color: gold;
    text-align: center;
    font-size: smaller;
}

.user-level-name{
    text-align: center;
}

.user-level-name p{
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 0.2rem;
}

.profile-upgrade-progress {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}

.profile-upgrade-progress progress {
    appearance: none;
    height: 100%;
    width: 100%;
    border: 1px solid var(--progressbar-border-color);
    overflow: hidden;
    color: var(--progressbar-color);
    border-radius: 10px;

}

.profile-upgrade-button-area {
    text-align: center;
    padding: 0.4rem;
}

.profile-upgrade-button {
    width: 100%;
    height: 35px;
    background: var(--profile-upgrade-button-color);
    color: var(--profile-upgrade-button-background-color);
    border: 1px solid var(--profile-upgrade-button-color);
    border-radius: 3px;
}

.profile-upgrade-button:hover {
    background: var(--profile-upgrade-button-color-hover);
}

/* sidebar items */
.sidebar-item {
    margin-bottom: 0.2rem;
}

.sidebar-item button {
    display: grid;
    grid-template-columns: 3rem 6rem;
    background: var(--sidebar-item-color);
    height: 3rem;
    color: var(--sidebar-item-background-color);
    border: 1px solid var(--sidebar-item-border-color);
    width: 100%;
}

.sidebar-item button:hover {
    background: var(--sidebar-item-color-hover);
}

.sidebar-item-icon {
    margin: auto;
    text-align: center;
}

.sidebar-item-icon img {    
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem
}

.sidebar-item-name {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    width: max-content;
}

/* common */
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-color: var(--hr-color); 
}