:root {
  --topnav-background-color: #333;
  --topnav-a-color: #f2f2f2;
  --topnav-a-hover-color: black;
  --topnav-a-background-hover-color: #ddd;
  --topnav-a-active-color: white;
  --topnav-a-active-background-color: #e7971f;
  --topnav-a-active-background-hover-color: #b37314;
  --profile-background-color: rgb(77, 77, 77);
  --user-profile-image-border-color: #888888;
  --user-profile-name-color: #ddd;
}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: var(--topnav-background-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--topnav-a-color);
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 13px;
  /* height: 100%; */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--topnav-a-background-hover-color);
  color: var(--topnav-a-hover-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--topnav-a-active-background-color);
  color:var(--topnav-a-active-color);
}

.topnav a.active:hover {
  background-color: var(--topnav-a-active-background-hover-color);
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* user profile details */
.user-details {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  float: left;
  background-color: var(--profile-background-color);
  /* background-color: rebeccapurple; */
  /* padding-bottom: 0.2rem;  */
  /* text-align: center; */
}

.user-details:hover {
  background-color: var(--topnav-a-background-hover-color);
  color: var(--topnav-a-hover-color);
}

.user-profile-image {
  padding-left: 0.3rem;
}

.user-profile-image img{
  width:40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--user-profile-image-border-color);
}

.user-profile-name {
  padding-right: 1rem;
  font-size: 0.5rem;
  color: var(--user-profile-name-color);
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}