.captcha-wrapper {
    width: auto;
    height: auto;
}

.captcha-wrapper.hide {
    opacity: 0;
    height: 0;
}

.captcha-area {
    display: flex;
    height: 55px;
}

.captcha-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.captcha-img img {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    object-fit: cover;
    border-radius: 5px;
}

.captcha {
    position: absolute;
    left: 50%;
    /* top: ; */
    width: auto;
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
    transform: translate(-60%, 20%);
    text-shadow: 0 0 2px #a9a9a9;
    font-family: 'Noto serif', serif;
}

.input-area {
    margin-top: 5px;
}

.reload-btn {
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    /* background: #4db2ec; */
    background: rgba(0, 0, 0, 0);
}

.reload-btn img {
    width: 30px;
    height: 30px;
    transition: transform 0.15s ease;
}

.reload-btn:hover img {
    transform: rotate(-90deg);
}

.input-area {
    height: 40px;
    width: 250px;
    position: absolute;
}

.input-area input {
    height: 100%;
    /* width: 100%; */
    outline: none;
    border: 1px solif #bfbfbf;
    /* font-size: 20px; */
    padding: 5px;
    border-radius: 5px;
}

.check-btn {
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 13px;
    height: 30px;
    padding: 0 20px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #4db2ec;
    transform: translateY(-50%);
}


.status-txt {
    text-align: left;
    color: #ff0000;
    font: 10px;
    margin: 50px;
    transition: 0.2 all;
}

.captcha-matched-alert {
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: #fff;
    background-color: rgb(57, 158, 57);
    height: 0;
    border: 2px solid rgb(1, 153, 1);
    border-radius: 5px;
    transition: 0.2 all;    
    opacity: 0;
}

.showCaptcha {
    opacity: 1;
    height: 50px;
}

.captcha-matched-alert.show {
    animation: anim 1s ease forwards;
}
@keyframes anim {
    0%{
        transform: translateY(-100%);
    }
}

.captcha-matched-alert.hide {
    animation: anim2 1s ease forwards;
}
@keyframes anim2 {
    0%{
        transform: translateY(100%);
    }
}

.matched-tick {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.matched-tick img{
    height: 40px;
    width: 40px;
}

.matched-content {
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}