/* thread */
.thread {
    padding: 7px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(192, 192, 192);
    transition: .2s;
}

.thread:hover {
    cursor: pointer;
    -webkit-box-shadow: -2px 2px 8px -4px #5c5c5c; 
    box-shadow: -2px 2px 8px -4px #5c5c5c;   
}

/* thread header */
.thread-header {
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* thread details */
.thread-details {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.thread-details .profpic {
    padding: 10px;
}

.thread-details .profpic img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.thread-details .profpic-sub {
    padding: 10px 10px 10px 0;
}

.thread-details .profpic-sub img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.thread-details .postedby {
    width: fit-content;
}

.thread-details .verified {
    padding: 10px 0 15px 5px;
}

.thread-details .verified img {
    height: 15px;
}


.thread .postedat {
    /* background-color: rgb(233, 233, 233); */
    /* text-align: right;
    padding-right: 10px; */
    padding-left: 15px;
}

/* thread body */
.thread-body {
    padding: 10px;
    color: rgb(53, 50, 50);
}

/* thread footer */
.thread-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.thread-footer .views {
    padding-right: 5px;
}

.thread-footer .views-amount {
    color: #5c5c5c;
}