* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: white;
    width: 26%;
}

/* Full width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 16px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}

/* Invalid message */
.invalid {
    color: #ff0000;
    margin: 0 0 0 0;
}

/* bold texts */
b {
    margin: 22px 0 5px 0;
    display: inline-block;
    border: none;
}

/* Set a style for the skip button */
.skipBtn {
    background-color: gray;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
}

.skipBtn:hover {
    opacity: 1;
}

/* Set a style for the next button */
.nextBtn {
    background-color: #db7e31;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
}

.nextBtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set gray bg color and center the content in sign in */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/* UL radio buttons */
/* radio set */
.ul-listitem {
    margin-bottom: 12px;
    padding-left: 5px;
}

/* radio set */
.ul-radioset {
    float: right;
}

/* The container */
.ul-container {
    margin-bottom: 12px;
    padding-left: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browsers default radio buttons */
.ul-container input {
    cursor: pointer;
}