/* Drag and drop image upload*/
.form-drag-area {    
    background-color: #eeeded;
    height: 12rem;
    width: 100%;
    border: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-drag-area.active {
    transition: 300ms ease-in;
    border: 2px dashed #888888;
    background-color: #d8d8d8;
}


.form-drag-area .icon {
    font-size: 1rem;
    color: #494949;
}

.form-drag-area .icon img{
    border-radius: 50%;
}

.form-drag-area .description {
    font-size: 0.8rem;
    font-weight: 500;
    color: #494949;
}