/* lock profile  */
.lock_profile {
    width: 50%;
    text-align: center;
}

.lock_profile .lock_profile_upper .title {
    padding: 10px;
}

.lock_profile table {
    margin-left: auto;
    margin-right: auto;
}

.lock_profile table tr {
    height: 30px;
}

.lock_profile table td {
    font-size: small;
}

.lock_profile table img {
    height: 20px;
    width: 20px;
}

.lock_profile table .right {
    padding-left: 10px;
}

/* account privacy */
.acc-profile-locking {
    width: 50%;
}

.acc-profile-locking tr td {
    font-size: 15px;
}

.acc-profile-locking tr .left {
    width: 80%;
}

.acc-profile-locking tr .right {
    width: 20%;
}

.acc-profile-locking tr {
    height: 30px;
}

@media only screen and (max-width: 1124px) {
    .lock_profile {
        width: 100%;
    }

    .acc-profile-locking {
        width: 100%;
    }
}