.banner {
    width: 300px;
    border: 1px solid rgb(219, 219, 219);
    transition: .1s all;
}

.banner:hover {
    cursor: pointer;
    transform: scale(1.005);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.banner .pic img {
    width: 300px;
    height: 200px;
}

.banner .banner-body .title {
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

.banner .banner-body .postedby {
    padding-left: 5px;
    color: rgb(78, 78, 78);
}

.banner .banner-body .price {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0 10px 5px;
    color: rgb(78, 78, 78);
}

.banner .banner-stats {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-top: 5px;
}

.banner .banner-stats img {
    position: relative;
    top: 2px;
}

.banner .banner-stats .ups img {
    width: 15px;
    margin: 0 auto;
}

.banner .banner-stats .ups-count {
    padding: 0 5px 0 2px;    
    color: green;
}

.banner .banner-stats .downs img {
    width: 15px;
}

.banner .banner-stats .downs-count {
    padding: 0 5px 0 2px;    
    color: red;
}

.banner .banner-stats .comments img {
    width: 15px;
}

.banner .banner-stats .comments-count {
    padding: 0 5px 0 2px;    
    color: black;
}

.banner .banner-stats .rate {    
    color: rgb(209, 178, 0);
    padding: 0 3px 0 3px;
}

.banner .banner-stats .rate-star img {
    width: 15px;
    filter: grayscale(100%);
}

.banner .banner-stats .rate-star.active img {
    width: 15px;
    filter: grayscale(0%);
}

.banner .banner-stats .reviews {
    color: #333;
    padding-left: 5px;
}