.home-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-gap: 0.5rem;
    background-color: #efefef;
}

.home-grid-header {
    background-color: red;
}

.home-grid-main {
    background-color: #f1f5f9;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.3);
}

.home-grid-footer {
    background-color: blue;
}