.comment {
    width: 50%;
    height: fit-content;
    background-color: #fafafa;
    border: 1px solid #c7c7c7;
    padding: 5px;
}

/* header */
.comment-header {
    height: 30px;
    display: flex;
    flex-direction: row;
}

.comment-header-icon{
    width: 30px;
    text-align: center;
    padding: 5px;
}

.comment-header-icon img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.comment-header-actortypeicon{
    width: 30px;
    text-align: center;
    padding: 5px;
}

.comment-header-actortypeicon img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.comment-header-postedby {
    width: fit-content;
    line-height: 30px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
}

.comment-header-verified {
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.comment-header-verified img {
    height: 20px;
    width: 20px;
}

.comment-header-postedtime {
    padding-left: 10px;
    width: fit-content;
    line-height: 30px;
    vertical-align: middle;
    color: gray;
}

/* body */
.comment-body {
    margin: 0px 5px 5px 5px;
}

/* footer */
.comment-footer {
    height: 30px;
    display: flex;
    flex-direction: row;    
    padding: 5px;
}

.comment-footer-likebtn, .comment-footer-dislikebtn, .comment-footer-replybtn {
    width: fit-content;
    line-height: 20px;
    vertical-align: middle;
}

.comment-footer-likebtn img, .comment-footer-dislikebtn img, .comment-footer-replybtn img {
    height: 20px;
    width: 20px;
}

.comment-footer-text {
    line-height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
}

.comment-footer button {
    display: flex;
    flex-direction: row;
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
}

@media only screen and (max-width: 1124px) {
    .comment {
        width: 100%;
    }  
}